body, #root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
  body, #root {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
